{% extends "layout.html" %}
{% load static %}

{% block page_content %}
<h1>Bitte wählen Sie die gewünschte Dienstleistungen aus:</h1>
<div class="container">
    {% for service in services %}
        <div class="item">
            <div>
                <img class="card_img" src="{% static service.image %}">
                <div>
                    <h2>{{ service.title }}</h2>
                    <h4>Bitte wählen Sie aus unseren vielfältigen Dienstleistungen im Bereich {{ service.title }}</h4>
                    <a href="{% url 'booking_service_detail' service.pk %}"
                    class="button">
                        SELECT
                    </a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}